{% load static %}

<div class="row question">
                <div class="col-2">
                    <img class = "avatar" src = "{% static "img/fly.jpg" %}" alt = "">
                    <div>
                        <button type="button" class="btn btn-outline-danger">&#128077</button>
                        {% if question.votes.likes.count > 0 %}
                            <span class="rating" style="color: green">+{{ question.votes.likes.count }}</span>
                        {% elif question.votes.likes.count < 0 %}
                            <span class="rating" style="color: red">{{ question.votes.likes.count }}</span>
                        {% elif question.votes.likes.count == 0 %}
                            <span class="rating" style="">{{ question.votes.likes.count }}</span>
                        {% endif %}
                        <button type="button" class="btn btn-outline-danger">&#128078</button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row-content">
                            <h3> <a href="{% url "question" qid=question.id %}" class="question-title">
                                            {{ question.question_title }}
                                </a>
                            </h3>
                            <div class="text">{{question.question_text}} </div>
                            <div class="under underquestion">
                                <span>
                                        Tags:
                                        {% for tag in question.tags.all %}
                                            <a class="pop-tag" href="" class="btn-light btn-sm"> {{ tag }} </a>
                                        {% endfor %}
                                        <small class="text-muted">Published: {{ question.pub_date }}</small>
                                </span>
                            </div>
                            
                    </div>
                </div>
            </div>