{% load static %}
<div class="row question" style="max-width: ;max-height: 200px;max-width: 1200px;left: 100px;position: relative;">
                <div class="col-2">
                    <img class = "avatar" src = "{{ question.avatar }}" alt = "">
                    <div>
                        <button type="button" class="btn btn-outline-danger">&#128077</button>
                        {% if question.likes|add:"0" >= 0 %}
                            <span class="rating" style="color: green">+{{ question.likes }}</span>
                        {% else %}
                            <span class="rating" style="color: red">{{ question.likes }}</span>
                        {% endif %}
                        <button type="button" class="btn btn-outline-danger">&#128078</button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row-content">
                            <div class="text">{{question.text}} </div>
                    </div>
                </div>
            </div>